# source
e2e/
lib/
.idea/
coverage/
src/
.vscode/
sample/

# config
tsconfig.json
tsconfig.build.json
tslint.json
.prettierignore
.prettierrc
.travis.yml
docker-compose.yml
jest.config.js
jest-e2e.config.js
renovate.json

# misc
.circleci/
.github/
FUNDING.yml
docker-compose.yml
.env
.eslintrc.js
CHANGELOG.md
nodemon.json
*.tgz